.container {
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

#header {
  background: #E5E5E5;
}
#header .header {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  line-height: 40px;
}
#header .header--group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header--group select {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  -moz-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}
#header .header--group__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
}
#header .header--group__text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#header .header--group__menu a {
  padding: 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 22px;
  color: #000000;
}
#header .header--group__menu a:hover {
  color: #FC42FF;
  border-bottom: 3px solid #FC42FF;
  transition: 0.2s ease-in-out;
  font-size: 105%;
}
#header .header--group__icons {
  font-size: 30px;
  padding: 0 20px 0 0;
}
#header .header--group__icons:hover {
  cursor: pointer;
  box-shadow: 10px 10px gray;
  padding-top: 5px;
}
#header .header--group button {
  background: #F188F2;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#header .header--group button:hover {
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(112, 13, 110) 50%, rgb(252, 176, 69) 100%);
  transition: 0.2s ease-in-out;
  padding: 11px 26px;
  cursor: pointer;
  box-shadow: 10px 5px gray;
}
#header .header--group input {
  outline: none;
  border: none;
  border-radius: 9px;
  padding: 10px 150px 10px 20px;
}

#hero {
  background: url("../img/photo5454359014675693292.jpg") no-repeat;
  background-size: 100%;
}
#hero .hero {
  padding: 100px 0;
}
#hero .hero--btn {
  padding-top: 50px;
}
#hero .hero--btn__but {
  background: transparent;
  padding: 10px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  line-height: 130%;
  color: #2D2D2D;
  margin: 0 30px 0 0;
  background: #FFFFFF;
}
#hero .hero--btn__but:hover {
  background: transparent;
  cursor: pointer;
  color: #2D2D2D;
  padding: 11px 31px;
  transition: 0.2s ease-in-out;
  box-shadow: 10px 5px gray;
}
#hero .hero--btn__btu {
  background: transparent;
  padding: 10px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  line-height: 130%;
  color: #FFFFFF;
}
#hero .hero--btn__btu:hover {
  background: transparent;
  cursor: pointer;
  color: #2D2D2D;
  padding: 11px 31px;
  transition: 0.2s ease-in-out;
  box-shadow: 10px 5px gray;
}
#hero .hero h1 {
  font-size: 500%;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #FFFFFF;
}
#hero .hero h3 {
  font-size: 500%;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #FFFFFF;
  font-size: 300%;
}

#category {
  background: #E5E5E5;
}
#category .category {
  padding: 50px 0;
}
#category .category--logo {
  display: flex;
  align-items: end;
}
#category .category--logo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#category .category--logo a {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 20px;
}
#category .category--logo a:hover {
  color: red;
  font-size: 105%;
}
#category .category--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#category .category--grid__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
#category .category--grid__img h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 20px;
}
#category .category--grid__img--image {
  width: 90%;
  background: #eeeeee;
  border-radius: 21px;
  box-shadow: 10px 10px gray;
}

#leaders {
  background: #E5E5E5;
}
#leaders .leaders {
  padding-bottom: 50px;
}
#leaders .leaders--logo {
  padding-bottom: 30px;
  display: flex;
  align-items: end;
}
#leaders .leaders--logo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#leaders .leaders--logo a {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 20px;
}
#leaders .leaders--logo a:hover {
  color: red;
  font-size: 105%;
}
#leaders .leaders--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#leaders .leaders--grid__group--img {
  border-radius: 21px;
  width: 90%;
}
#leaders .leaders--grid__group--number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 0;
}
#leaders .leaders--grid__group--number h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  color: #FF32A1;
}
#leaders .leaders--grid__group--number h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  font-size: 150%;
}
#leaders .leaders--grid__group--number p {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #8B8B8B;
}
#leaders .leaders--grid__group p {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
}

#discount {
  background: linear-gradient(262.69deg, #CA4ACB -0.43%, #F088F2 104.36%);
}
#discount .discount {
  display: flex;
  flex-direction: column;
}
#discount .discount h1 {
  font-size: 500%;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #FFFFFF;
}
#discount .discount h3 {
  font-size: 500%;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #FFFFFF;
  font-size: 300%;
}
#discount .discount--number {
  display: flex;
  flex-direction: column;
}
#discount .discount--number input {
  outline: none;
  border: none;
  border-radius: 9px;
  padding: 15px 150px 15px 20px;
}
#discount .discount--number button {
  background: transparent;
  padding: 10px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  line-height: 130%;
  color: #FFFFFF;
  padding: 10px 100px;
}

#stock {
  background: #E5E5E5;
}
#stock .stock {
  padding-top: 50px;
}
#stock .stock--logo {
  padding-bottom: 30px;
  display: flex;
  align-items: end;
}
#stock .stock--logo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#stock .stock--logo a {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  padding-left: 20px;
}
#stock .stock--logo a:hover {
  color: red;
  font-size: 105%;
}
#stock .stock--group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#stock .stock--group__grid--img {
  border-radius: 21px;
  width: 90%;
}
#stock .stock--group__grid--number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 0;
}
#stock .stock--group__grid--number h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  color: #FF32A1;
}
#stock .stock--group__grid--number h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  font-size: 150%;
}
#stock .stock--group__grid--number p {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #8B8B8B;
}

#swiper {
  background: #E5E5E5;
}
#swiper .swiper {
  padding: 50px 0;
}
#swiper .swiper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#swiper .swiper .swiper {
  width: 100%;
  height: 100%;
}
#swiper .swiper .swiper-slide {
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#swiper .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer {
  background: #E5E5E5;
}
#footer .footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--group {
  display: flex;
  flex-direction: column;
}
#footer .footer--group h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 220%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
#footer .footer--group a {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  font-size: 250%;
}
#footer .footer--group__icons--icon {
  font-size: 30px;
  padding: 0 20px 0 0;
}
#footer .footer--group__icons--icon:hover {
  cursor: pointer;
  box-shadow: 10px 10px gray;
  padding-top: 5px;
}
#footer .footer--group p {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
}
#footer .footer--group h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
